[submodule "frontend"]
	path = frontend
	url = https://github.com/Estufa-Hidroponica-Automatizada/hydroponic-automation-front.git
[submodule "backend"]
	path = backend
	url = https://github.com/Estufa-Hidroponica-Automatizada/hydroponic-automation-api.git
